nav {
  display: flex;
  align-items: center;
  background-color: #b0ced7;
  margin: 5px;
  border-radius: 5px;
}
.logout{
  margin-left: auto;
  margin-right: 10px;
}
div#root{
  margin-left: 0;
}
div.auth{
display:block;
padding: 2%;
  
}
.inp{
  background-color: #f0f3f4;
  display: flex;
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button{
  margin-top: 5px;
  margin-left: 5px;
}
div{
  margin-top: 5px;
  margin-left: 5px;
}
form{
  margin-top: 5px;
}
.error {
  background-color: rgba(255, 0, 0, 0.616); /* Колір фону з прозорістю */
    width: 280px;
    height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.close-modal {
  cursor: pointer;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
